<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Temp Mail OTP</title>

<style>
body{
    background:#0b1220;
    color:white;
    font-family:Arial;
    text-align:center;
}
.card{
    background:#121a2b;
    padding:20px;
    margin:20px;
    border-radius:14px;
}
.box{
    background:#0f1627;
    padding:15px;
    margin:10px;
    border-radius:10px;
    font-size:18px;
}
button{
    background:#3b82f6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
button:hover{
    background:#2563eb;
}
</style>
</head>

<body>

<h1>Temporary Mail</h1>

<div class="card">
    <h2>Single Email</h2>

    <div class="box" id="email">Klik Generate</div>
    <div class="box" id="otp">Menunggu OTP</div>

    <button onclick="generate()">Generate Email</button>
</div>

<script>

let currentEmail = null;
let otpInterval = null;

function generate(){
    fetch("/generate")
    .then(res => res.json())
    .then(data=>{
        currentEmail = data.email;
        document.getElementById("email").innerText = data.email;
        document.getElementById("otp").innerText = "Menunggu OTP...";

        if(otpInterval) clearInterval(otpInterval);

        otpInterval = setInterval(checkOTP, 5000);
    });
}

function checkOTP(){
    if(!currentEmail) return;

    fetch("/get_otp?email=" + currentEmail)
    .then(res=>res.json())
    .then(data=>{
        if(data.otp){
            document.getElementById("otp").innerText = data.otp;
            clearInterval(otpInterval);
        }
    });
}

</script>

</body>
</html>
